.container {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
}

.infoBox {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #bdbdbd;
  padding: 15px;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoImageBox {
  width: 100px;
  height: 100px;
}
.infoImageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userSelect {
  font-size: 14px;
  color: blue;
}

.hosInfo {
  display: flex;
  font-size: 14px;
  color: #696969;
}

.grade {
  display: flex;
  gap: 5px;
  font-size: 13px;
}
.priceBox {
  display: flex;
  gap: 10px;
}

.price {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.star {
  color: rgb(245, 215, 47);
}

.starRate {
  color: #bdbdbd;
}
