.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: #bdbdbd;
  border: 1px solid black;
  justify-content: center;
}
