.userInfoBox {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 10px;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imageBox {
  width: 100px;
  height: 100px;
}
.imageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
